@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*root{
    --font1: font-family: "Sriracha", cursive;


}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: "Sriracha", cursive;
}

header{
    background-color: black;
    text-align: center;
    color: white;
}

header > h1{
    padding-top: 40px;
    text-transform: uppercase;
    font-size: 5.5vw;
}

header > p{
    padding-bottom: 40px;

}

section{
    padding-top: 20vh;
    padding-bottom: 20vh;
    line-height: 2em;
    padding-left: 35px;
    font-size: 2.5vw;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.048);
    display: inline-block;
    padding: 10px 30px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

section.normal{
    background-color: white;
}

section.imagem{
    background-color: rgb(43, 42, 42);
    color: white;
    background-size: cover;
}

header a, footer a{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bolder;
    transition-duration: 0.5s;
    padding: 5px;
}

a:hover{
    font-size: 1.2em;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.479);

}

section#img001{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-attachment: fixed;
}

section#img002{
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 15px 0px black;

}

footer{
    background-color: black;
    padding: 15px;
    text-align: center;
    color: white;
}